.SingleData{
display: flex;
gap: 0.5rem;


}

.SingleData>img{
  width: 3.2rem;
  height: 3.2rem;
}

.noti>div>span:nth-of-type(1){
  font-weight: bold;
}
.time{
  margin-top: 5px;
  padding-top: 5px;
}

.name-cus{
  font:bold;
}